:root {
  /* Font size */
  --font-md: 22px;
  --font-lg: 40px;

  /* Padding and border radius */
  --pd-md: 20px;
  --br-r-sm: 5px;
  --br-r-md: 16px;
  --br-r-la: 30px;

  /* Border */
  --br-sm: 1px solid;

  --gap-sm: 10px;
  --gap-md: 20px;

  /* Color pallete */
  --darker: #03045e;
  --dark: #0077b6;
  --light: #00b4d8;
  --lighter: #90e0ef;
  --lightest: #caf0f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--darker);
}

/* Layout */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

.header {
  font-size: var(--font-lg);
  align-self: center;
  padding: var(--pd-md);
  background-color: var(--light);
}

.main-content {
  grid-template-rows: 80px 1fr;
  gap: var(--gap-sm);
  padding: var(--pd-md);
  background-color: var(--dark);
}

/* Card styles */
.content {
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: var(--gap-sm);
}

.card {
  padding: var(--pd-md);
  gap: var(--gap-md);
  background-color: var(--lighter);
  border-radius: var(--br-r-md);
}

.card-item {
  font-size: var(--font-md);
  color: #03045e;
}

/* Backdrop + modal */
.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: brightness(50%);
  z-index: 1;
}

.modal {
  position: fixed;
  z-index: 2;

  /* Center form */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/* Form Styles */
form {
  gap: var(--gap-md);
  padding: var(--pd-md);
  background-color: var(--lightest);
  border-radius: var(--br-r-md);
}

.form-heading {
  font-size: var(--font-md);
}

input, label {
  font-weight: normal;
}

input {
  display: block;
  width: 300px;
  height: 40px;
  padding: 0 10px;
  border: var(--br-sm) #cccccc;
  border-radius: var(--br-r-sm);
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
}

.check {
  justify-content: space-between;
}


/* Button Styles */
.new-book,
.read,
.remove,
.submit {
  height: 50px;
  border-radius: var(--br-r-la);
}

.new-book {
  background-color: var(--light);
  width: 125px;
  justify-self: center;
  align-self: center;
  border-style: none;
}

.read,
.submit {
  background-color: greenyellow;
}

.remove {
  background-color: #FA8072;
}

.submit {
  height: 40px;
}

.new-book:hover {
  color: var(--light);
  background-color: var(--darker);
}

.read:hover,
.submit:hover {
  background-color: #1DB954;
}

.remove:hover {
  background-color: #CD5C5C;
}

.not-read {
  background-color: var(--lightest);
}

.not-read:hover {
  color: var(--lightest);
  background-color: var(--dark);
}